body {
    font-family: 'Montserrat';
    background-color: #1f1f1f;
    overflow: hidden;
}

#header {
    position: absolute;
    background-color: #0F1826;
    height: 45px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 2px 0px #000000;
    z-index: 999;
}

h2 {
    color: white;
    margin: auto;
}

#peace_logo {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 43px;
}

#conflict_logo {
    position: absolute;
    top: 9px;
    right: 40px;
    height: 25px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.leaflet-bottom {
    bottom: 210px;
    right: 10px;
    z-index: 899;
}

#net {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    box-shadow: -1px 0px 2px 1px black;
}

.link {
    stroke: gray;
}

text {
    fill: white;
    font-family: "Montserrat";
    paint-order: stroke;
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.nodename,
.network_nodename {
    fill: black;
    font-weight: bolder;
    font-size: 10px;
    font-family: "Montserrat";
    paint-order: stroke;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;

}

.year_text {
    fill: #080808;
    font-family: "Montserrat";
    paint-order: stroke;
    font-weight: bolder;
    stroke: white;
    stroke-width: 2px;
}

#bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 920;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 2px 0px #000000;
    border-radius: 3px;
}

#refresh_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

#refresh_button:hover {
    background-color: #006297
}

#info_button {
    position: absolute;
    top: 5px;
    right: 70px;
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

#info_button:hover {
    background-color: #006297
}

#info {
    position: absolute;
    top: 50px;
    width: 400px;
    right: -405px;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
    overflow-y: scroll;
}

#info::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#info::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#info::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#info::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

#map_title {
    position: absolute;
    top: -4px;
    color: white;
    z-index: 800;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#net_title {
    position: absolute;
    top: -4px;
    color: white;
    z-index: 800;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#weight {
    color: white;
}

.tick line {
    stroke: rgb(255, 255, 255);
    opacity: 0.1;
}

.white-axis {
    fill: white;
}

.myXaxis path {
    visibility: hidden;
}

.slidecontainer {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    z-index: 900;
}

.leaflet-layer,
.leaflet-control-attribution {
    filter: invert(99%) hue-rotate(170deg) brightness(95%) contrast(100%);
}

#collab {
    color: white;
    background-color: #0F1826;
    border-radius: 5px;
}

#filters {
    position: absolute;
    top: 55px;
    width: 200px;
    height: 440px;
    left: -202px;
    background-color: #0F1826;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgb(75, 75, 75);
}

#filter_button {
    position: absolute;
    top: 28px;
    left: 0px;
    z-index: 999;
    border-radius: 5px 5px 0px 0px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: bottom left;
    background-color: #04AA6D;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
}

#filter_button:hover {
    background-color: #006297
}

#dropdown_lateral {
    position: relative;
    padding: 3px;
    height: 35px;
    width: 170px;
    color: white;
    background: rgb(54, 54, 54);
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-size: 14px;
    /* font-weight: bold; */
    z-index: 999;
}

#dropdown_state {
    position: relative;
    padding: 3px;
    height: 35px;
    width: 170px;
    color: white;
    background: rgb(54, 54, 54);
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-size: 14px;
    /* font-weight: bold; */
    z-index: 999;
}

#dropdown_country {
    position: relative;
    padding: 3px;
    height: 35px;
    width: 170px;
    color: white;
    background: rgb(54, 54, 54);
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-size: 14px;
    /* font-weight: bold; */
    z-index: 999;
}

#dropdown_vis {
    position: relative;
    padding: 3px;
    height: 35px;
    width: 215px;
    color: white;
    background: rgb(54, 54, 54);
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-size: 14px;
    z-index: 999;
}

#title1 {
    z-index: 990;
    margin: 0px;
    color: white;
    position: absolute;
    bottom: 120px;
    left: 50px;
    font-size: 12px;
}

#title2 {
    margin: 2px;
    z-index: 990;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-size: 12px;
}

#state_drop_div,
#vis_drop_div,
#conflict_drop_div,
#nonstate_drop_div {
    color: white;
    padding: 15px;
}

h4 {
    margin: 1px
}

#nonstate {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 899;
}

.legend {
    position: relative;
    border-radius: 5px;
    background-color: black;
    border-radius: 3px;
    bottom: 170px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 900;
    font-family: "Montserrat";
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#org-legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#org-legend-lateral div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

#gradient {
    position: absolute;
    bottom: 150px;
    right: 10px;
    height: 70px;
    z-index: 850;
}

#vis_buttons {
    position: absolute;
    z-index: 999;
    top: 50px;
    right: 30px;
    display: flex;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 100% 0;
}

#map_button,
#net_button,
#time_button {
    margin-right: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #04AA6D;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
}

#map_button:hover {
    background-color: #006297
}

#popup {
    position: absolute;
    font-size: 14px;
    z-index: 999;
    background-color: black;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 3px;
    padding: 0.8em;
    border: none;
    box-shadow: 0 0px 0px 0 rgb(255 255 255 / 10%), 0 0px 5px 0 rgba(255, 255, 255, 0.2);
    margin: auto;
    display: none;
    opacity: 0.8;
}

#country {
    color: white;
    background-color: #000000;
    border-radius: 3px;
    position: absolute;
    right: -355px;
    width: 350px;
    top: 50px;
    z-index: 999;
}

#country_title {
    text-align: center;
}

#country_content {
    position: relative;
    padding: 0.5em;
}

#the_content {
    overflow-y: scroll;
    padding: 0.5em;
    background-color: rgb(46, 46, 46);
}

#med_top_cont {
    padding: 0.4em;
    background-color: rgb(46, 46, 46);
    height: 75px;
}

#the_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#the_content::-webkit-scrollbar-track {
    background: #515151;
}

/* Handle */
#the_content::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#the_content::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 103, 103);
}

pre {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: "Montserrat";
    font-size: 12px;
}

pre:not(:first-child) {
    padding-top: 0.5em;
    border-top: 1px solid rgb(255, 255, 255);
}

.p {
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#link {
    position: relative;
    height: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

.linkie:link {
    color: #fed800;
    font-size: 14px;
    font-weight: bold;
}

#org-legend-lateral {
    position: absolute;
    border-radius: 5px;
    background-color: black;
    border-radius: 3px;
    left: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    font-family: "Montserrat";
    opacity: 0;
    visibility: hidden;
}

#org-legend {
    position: absolute;
    border-radius: 5px;
    background-color: black;
    border-radius: 3px;
    left: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    font-family: "Montserrat";
    opacity: 0;
    visibility: hidden;
}

.node {
    font: 300 "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: rgb(93, 93, 93);
    stroke-opacity: 0.3;
    fill: none;
    pointer-events: none;
    stroke-width: 0.4px;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #fed800;
}

.node--target {
    fill: #fed800;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 1px;
}

.link--source {
    stroke: #fed800;
}

.link--target {
    stroke: #fed800;
}

#time_toggle {
    position: absolute;
    bottom: 0px;
    left: 5px;
    cursor: pointer;
    z-index: 999;
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}